<div class="blog-post">
  <h3><%= @question.title %> <small><%= @question.created_at.strftime('%d/%m/%Y') %></small></h3>
  <h5>Author: <%= @question.user.name %></h5>
  <%= link_to '< questions list', questions_path %>
  <hr/>
  <% if current_user %>
    <a href="<%= new_question_answer_path(@question) %>" class="button secondary">Add answer</a>
  <% end %>
  <p><%= markdown(@question.body) %></p>
</div>

<% if @question.answers.any? %>
  <div class="column row">
    <ul class="tabs" data-tabs="5uxhud-tabs" id="example-tabs">
        <li class="tabs-title is-active" role="presentation">
        <a href="#" aria-selected="true" role="tab">Answers</a></li>
    </ul>
    <div class="tabs-content" data-tabs-content="example-tabs">
        <div class="tabs-panel is-active" id="panel1">
          <%= render @question.answers %>
        </div>
    </div>
  </div>
<% end %>